mixin Arrows(container = true, elements = '')
  if container
    .control-arrow
      if elements === '' || elements === 'prev'
        .arrow-prev
          svg
            use(href='./assets/images/svg/sprites/icon.svg#arrow-more' xlink:href='./assets/images/svg/sprites/icon.svg#arrow-more')
      if elements === '' || elements === 'next'
        .arrow-next
          svg
            use(href='./assets/images/svg/sprites/icon.svg#arrow-more' xlink:href='./assets/images/svg/sprites/icon.svg#arrow-more')
  else
    if elements === '' || elements === 'prev'
      .arrow-prev
        svg
          use(href='./assets/images/svg/sprites/icon.svg#arrow-more' xlink:href='./assets/images/svg/sprites/icon.svg#arrow-more')
    if elements === '' || elements === 'next'
      .arrow-next
        svg
          use(href='./assets/images/svg/sprites/icon.svg#arrow-more' xlink:href='./assets/images/svg/sprites/icon.svg#arrow-more')
