extends ../layouts/base

block variables
  - var title='Главная';
  - var pageClass='main';
  - var hasContainer = false;

block content
  include ../components/hero/hero.pug
  include ../components/org-grid/org-grid.pug
  include ../components/event-grid/event-grid.pug