extends ../layouts/base

block variables
  - var title='Главная';
  - var pageClass='main';
  - var hasContainer = false;

block content
  include ../components/hero/hero.pug
  .test(style="height: 1000px;")