.offers-catalog
  &__wrapper
    +min-w($tab + 1px)
      display grid
      grid-template-columns vw(526) 1fr
      grid-gap vw(56)
    +min-max-w(1px, $tab)
      display flex
      flex-direction column
      gap vwm(40)

  &__block-header
    display flex
    align-items center
    justify-content space-between
    margin-bottom vw(40)
    +min-max-w(1px, $tab)
      margin-bottom vwm(20)

    h2, h3, h4
      font-weight 600
      font-size vw(32)
      color $main
      margin 0
      +min-max-w(1px, $tab)
        font-size vwm(24)

  &__grid
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap vw(40) vw(30)
    +min-max-w(1px, $tab)
      grid-template-columns repeat(2, 1fr)
      grid-gap vwm(20)

  &__content
    display flex
    flex-direction column
    align-items center
    gap vw(50)
    +min-max-w(1px, $tab)
      gap vwm(30)