include ../common/common.pug
block variables

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet" href="../index.scss")
    script(src="../index.js" defer="defer")


  body(class=`page page--${pageClass} ${hasContainer ? 'container' : ''}`)
    include ../../public/images/svg/sprites/icon.svg
    include ../components/header/header
    main.page__content
      block content