mixin SectionHeader(title, btnText= 'Подробнее', actions = true)
  .section-header
    h2.section-header__title= title
    if actions
      .section-header__actions
        a.btn.btn--main-alt(href="javascript:void(0);")
          span= btnText
          svg
            use(href="./assets/images/svg/sprites/icon.svg#arrow-more" xlink:href="./assets/images/svg/sprites/icon.svg#arrow-more")
          svg
            use(href="./assets/images/svg/sprites/icon.svg#arrow-2" xlink:href="./assets/images/svg/sprites/icon.svg#arrow-2")