mixin CardEvent(photo = '1.png', title = 'Организация')
  a.card-event(href="javascript:void(0);")
    .card-event__photo
      img(data-src=`./assets/images/card-event/${photo}` src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")
    .card-event__title= title
    .card-event__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo dolore autem reiciendis officia odio cupiditate
    .card-event__info
      .card-event__info-item.time
        .card-event__info-item-icon
          svg
            use(href='./assets/images/svg/sprites/icon.svg#clock' xlink:href='./assets/images/svg/sprites/icon.svg#clock')
        .card-event__info-item-value
          span 5 февраля 2025, 19:00 - 
          span 5 февраля 2025, 19:00
      .card-event__info-item.location
        .card-event__info-item-icon
          svg
            use(href='./assets/images/svg/sprites/icon.svg#location' xlink:href='./assets/images/svg/sprites/icon.svg#location')
        .card-event__info-item-value Дворец культуры