.card-event
  &:hover
    .card-event__photo

      &::after
        left 100%
        transition transform .6s ease-out
        transform translateX(100%)
      img
        transform scale(1.05)
        transition transform 0.5s ease-in-out

    .card-event__title
      color $accent
      transition color 0.3s ease-in-out

  &__photo
    position relative
    width 100%
    height vw(241)
    border-radius vw(10)
    overflow hidden
    margin-bottom vw(16)
    +min-max-w(1px, $tab)
      height vwm(240)
      border-radius vwm(10)
      margin-bottom vwm(14)

    &::after 
      content ""
      position absolute
      top 0
      left -100%
      width 100%
      height 100%
      background linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      transform translateX(-100%)

    img
      transition transform 0.3s ease-in-out
      width 100%
      height 100%
      object-fit cover

  &__title
    font-weight 600
    font-size vw(24)
    color $main
    margin-bottom vw(19)
    transition color 0.3s ease-in-out
    +min-max-w(1px, $tab)
      font-size vwm(20)
      margin-bottom vwm(18)

  &__desc
    font-size vw(16)
    line-height 150%
    color $gray
    overflow hidden
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2
    margin-bottom vw(16)
    +min-max-w(1px, $tab)
      font-size vwm(16)
      -webkit-line-clamp 3
      margin-bottom vwm(16)

  &__info
    display flex
    flex-direction column
    gap vw(16)
    +min-max-w(1px, $tab)
      gap vwm(14)

  &__info-item
    display flex

    &.time
      .card-event__info-item-value
        display flex
        flex-direction column
        gap vw(14)
        +min-max-w(1px, $tab)
          gap vwm(14)

    svg
      width vw(20)
      height vw(20)
      fill $main
      margin-right vw(10)
      +min-max-w(1px, $tab)
        width vwm(20)
        height vwm(20)
        margin-right vwm(10)