mixin menuList(menuList)
  .header__menu
    ul
      each item in menuList
        li
          a(href="javascript:void(0)")= item.title

-
  var menuList = [
    {title: 'О портале'},
    {title: 'Мероприятия'},
    {title: 'Организации'},
    {title: 'Услуги'},
    {title: 'Предложения'},
    {title: 'Контакты'},
    {title: 'Платежи'},
  ];

mixin menuCatalog(catalogList)
  .header__catalog-list
    ul
      each item in catalogList
        li
          a(href="javascript:void(0);")
            span= item.title
            if item.children
              svg
                use(href="./assets/images/svg/sprites/icon.svg#arrow-right" xlink:href="./assets/images/svg/sprites/icon.svg#arrow-right")
          if item.children
            ul.scroll-block
              each child in item.children
                li
                  a(href="javascript:void(0);")
                    span= child.title

-
  var catalogList = [
    {title: 'Каталог'},
    {
      title: 'Приложения',
      children: [
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
      ]
    },
    {title: 'Спрос',
      children: [
        {title: 'Спрос'},
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
      ]},
    {title: 'Общественные организации'},
    {title: 'Бизнес организации'},
  ];


.header
  .container
    .header__wrapper
      .header__left
        .header__logo
          a(href="javascript:void(0);")
            img(data-src=`./assets/images/svg/logo.svg` src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")
        button.header__region(type='button' data-modal-open="modal-region")
          svg
            use(href="./assets/images/svg/sprites/icon.svg#region" xlink:href="./assets/images/svg/sprites/icon.svg#region")
          span Санкт-Петербург
      .header__right
        .header__nav
          button.btn.btn--accent.header__nav-catalog-btn(type='button')
            .header__nav-catalog-icon
              svg
                use(href="./assets/images/svg/sprites/icon.svg#catalog" xlink:href="./assets/images/svg/sprites/icon.svg#catalog")
              svg
                use(href="./assets/images/svg/sprites/icon.svg#close" xlink:href="./assets/images/svg/sprites/icon.svg#close")
            span Каталог
            .header__catalog
              .header__catalog-wrapper.block-scroll
                +menuCatalog(catalogList)
                .header__catalog-bg
                  img(data-src=`./assets/images/svg/logo.svg` src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")


          +menuList(menuList)
        .header__actions
          button.header__actions-search(type='button' data-modal-open="modal-search")
            svg
              use(href="./assets/images/svg/sprites/icon.svg#search" xlink:href="./assets/images/svg/sprites/icon.svg#search")
          a.header__actions-phone(href="javascript:void(0);") 
            svg
              use(href="./assets/images/svg/sprites/icon.svg#phone" xlink:href="./assets/images/svg/sprites/icon.svg#phone")
          button.btn.btn--accent-alt(type='button')
            span Войти