include ../nav-list/nav-list.pug

-
  var mobileNavMenu = [
    {title: 'О портале'},
    {title: 'Мероприятия'},
    {title: 'Организации'},
    {title: 'Услуги'},
    {title: 'Предложения'},
    {title: 'Платежи'},
  ];

+Modal('sheet-menu', 'sheet')
  +NavList(mobileNavMenu)