@import './btn/styles/btn.styl'
@import './form/styles/form.styl'
@import './tabs/styles/tabs.styl'
@import './arrows/styles/arrows.styl'
@import './pagination/styles/pagination.styl'
@import './section-header/styles/section-header.styl'
@import './socials/styles/socials.styl'
@import './modal/styles/modal.styl'