section.std-section.hero
  .container
    .hero__wrapper
      .hero__left
        .hero__left-img
          img(data-src="/assets/images/hero/1.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")
        .hero__left-info
          h1.hero__left-title ORG2B
          .hero__left-desc.content.scroll-block
            p Наш портал создан для того, чтобы упростить взаимодействие между общественными союзами, индивидуальными предпринимателями, а также компаниями различных форм собственности – от ИП до крупных АО. Мы предлагаем уникальные возможности для сотрудничества, продвижения услуг и товаров, а также эффективного управления вашим бизнесом.
        a.btn.btn--white.hero__left-btn(href="javascript:void(0);")
          span Подробнее о портале
          svg
            use(href="#arrow-more" xlink:href="#arrow-more")
      .hero__right
        .hero__right-block.hero__events

        .hero__right-block.hero__payments
          a.hero__payments-title(href="javascript:void(0);")
            span Платежи
            svg
              use(href="#arrow-2" xlink:href="#arrow-2")
          .hero__payments-desc.content.scroll-block
            p Наш портал поддерживает различные способы оплаты, включая международные транзакции в разных валютах.
            p Это делает сотрудничество еще проще и удобнее.
          a.btn.btn--white(href="javascript:void(0);")
            span Подробнее
            svg
              use(href="#arrow-more" xlink:href="#arrow-more")
          .hero__payments-icon
            img(data-src="/assets/images/svg/icon/payment-icon.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")
