include ../nav-list/nav-list.pug

-
  var mobileNavCatalog = [
    {title: 'Каталог'},
    {
      title: 'Приложения',
      children: [
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
      ]
    },
    {title: 'Спрос',
      children: [
        {title: 'Детские товары'},
        {title: 'Предложения'},
        {title: 'Электроника'},
        {title: 'Одежда'},
        {title: 'Обувь'},
        {title: 'Дом и сад'},
        {title: 'Детские товары'},
      ]},
    {title: 'Общественные организации'},
    {title: 'Бизнес организации'},
  ];

+Modal('sheet-catalog', 'right')
  .scroll-block
    +NavList(mobileNavCatalog)