.form
  &__body
    display flex
    flex-direction column
    gap vw(20)
    +min-max-w(1px, $tab)
      gap vwm(20)

  &__input,  &__textarea
    width 100%
    padding vw(14) vw(20)
    border-radius vw(100)
    border 1px solid $gray
    +min-max-w(1px, $tab)
      padding vwm(14) vwm(20)
      border-radius vwm(100)

    &:focus, &:active, &:focus-visible
      outline-color: $main

  &__textarea
    border-radius vw(10)
    +min-max-w(1px, $tab)
      border-radius vwm(10)

  &__checkbox
    flex 0 0 auto
    width vw(24)
    height vw(24)
    accent-color $accent
    +min-max-w(1px, $tab)
      width vwm(24)
      height vwm(24)

  &__policy
    display flex
    gap vw(16)
    +min-max-w(1px, $tab)
      gap vwm(16)

  a
    color $accent
    text-decoration underline