nav.mobile-nav
  .mobile-nav__list
    ul
      li
        a(href="javascript:void(0);")
          button(type="button") 
            .mobile-nav__list-icon.home
              svg
                use(href="#home" xlink:href="#home")
            span Главная
      li
        button(type='button')
          .mobile-nav__list-icon.car
            svg
              use(href="#car" xlink:href="#car")
          span Каталог
      li
        button(type='button')
          .mobile-nav__list-icon.search
            svg
              use(href="#search-menu" xlink:href="#search-menu")
          span Поиск
      li
        button(type='button')
          .mobile-nav__list-icon.menu
            svg
              use(href="#burger" xlink:href="#burger")
          span Меню
