include ../card-simple/card-simple.pug

section.std-section.offers-catalog
  .container
    .offers-catalog__wrapper
      .offers-catalog__block
        .offers-catalog__block-header
          h3 Текстовые предложения
        include ../text-offers/text-offers.pug
      .offers-catalog__block
        .offers-catalog__block-header
          h3 Каталог
          .tabs
            button.tabs__btn(type='button' data-tab='offers') Предложения
            button.tabs__btn(type='button' data-tab='demand') Спрос
        .tabs__wrapper
          .tabs__content(data-tab-content='offers')
            .offers-catalog__grid
              each catalogRepeater in [...Array(9)]
                +CardSimple()
          .tabs__content(data-tab-content='demand')
            .offers-catalog__grid
              each catalogRepeater in [...Array(4)]
                +CardSimple()