mixin Modal(modalId, type = 'right') 
  .modal(id= modalId, class= modalId, class= `type-${type}`)
    .modal__overflow(data-modal-close)
    .modal__wrapper
      if type === 'right'
        .modal__header
          button.modal__close(type='button' data-modal-close)
            svg
              use(href="./assets/images/svg/sprites/icon.svg#close" xlink:href="./assets/images/svg/sprites/icon.svg#close")
      .modal__content
        block