mixin Modal(modalId, type = 'right') 
  .modal(id= modalId, class= modalId, class= `type-${type}`)
    .modal__overflow(data-modal-close)
    .modal__wrapper
      .modal__header
        button.modal__close(type='button' data-modal-close) test
      .modal__content
        block