.header
  position fixed
  top 0
  left 0
  width 100%
  height vw(77)
  z-index 100
  margin-top vw(44)
  +min-max-w(1px, $tab)
    margin-top 0
    height auto
    background-color $secondary
    border-radius 0 0 vwm(10) vwm(10)

  &__wrapper
    display flex
    align-items center
    justify-content space-between
    border-radius vw(10)
    background-color $secondary
    padding vw(14) vw(30)
    +min-max-w(1px, $tab)
      border-radius vwm(10)
      padding vwm(12) 0

  &__left
    display flex
    align-items center
    gap vw(24)
    +min-max-w(1px, $tab)
      gap vwm(22)

  &__logo
    display flex
    width auto
    height vw(42)
    +min-max-w(1px, $tab)
      height vwm(35)

    img
      width 100%
      height 100%
      object-fit contain

  &__region
    display flex
    align-items center
    gap vw(8)
    cursor pointer
    padding 0
    margin 0
    border none
    background-color transparent
    +min-max-w(1px, $tab)
      gap vwm(8)

    &:hover
      svg
        stroke $accent
        transition stroke 0.3s ease-in-out

      span
        color $accent
        transition color 0.3s ease-in-out

    svg
      width vw(14)
      height vw(14)
      stroke $main
      fill transparent
      transition stroke 0.3s ease-in-out
      +min-max-w(1px, $tab)
        width vwm(18)
        height vwm(18)
    
    span
      font-weight 400
      font-size vw(16)
      color $main
      transition color 0.3s ease-in-out
      +min-max-w(1px, $tab)
        display none


  &__right
    display flex
    align-items center
    gap vw(86)

  &__nav
    display flex
    align-items center
    gap vw(28)
    +min-max-w(1px, $tab)
      display none

  &__menu
    ul
      display flex
      align-items center
      gap vw(31.5)
      list-style none
      padding 0
      right 0
      +min-max-w(1px, $tab)
        display none
      
      a
        display flex
        text-decoration none
        font-size vw(16)
        color $main
        transition color 0.3s ease-in-out

        &:hover
          color $accent
          transition color 0.3s ease-in-out

  &__actions
    display flex
    align-items center
    gap vw(27)
    +min-max-w(1px, $tab)
      gap vwm(10)

    .btn
      +min-max-w(1px, $tab)
        display none

  &__actions-search
    padding 0
    margin 0
    border none
    background-color transparent
    +min-max-w(1px, $tab)
      display none

    &:hover
      svg
        stroke $accent
        transition stroke 0.3s ease-in-out

    svg
      width vw(18)
      height vw(18)
      cursor pointer
      stroke $main
      fill transparent
      transition stroke 0.3s ease-in-out

  &__actions-phone
    display none
    width vw(18)
    height vw(18)
    +min-max-w(1px, $tab)
      display flex
      width vwm(16)
      height vwm(16)

    svg
      cursor pointer
      fill $main
