.modal
  display none
  width 100%
  height 100vh
  z-index 200
  position relative
  transition opacity 0.3s ease-in-out
  transition opacity 1s ease, transform 1s ease

  &__wrapper,
  &__overflow
    will-change transform

  &.is-open
    display block
    position fixed
    inset 0

  &.type-right

    .modal__close
      +min-w($tab + 1px)
        margin-left auto

    .modal__wrapper
      top 0
      right 0
      max-width vw(662)
      transform translateX(0)
      padding vw(40)
      +min-max-w(1px, $tab)
        padding vwm(30) vwm(23)
        max-width 100%

  &.type-top
    +min-max-w(1px, $tab)
      display none
      
    .modal__wrapper
      height max-content
      min-height vw(110)

  &.type-sheet 
    +min-w($tab + 1px)
      display none !important
    +min-max-w(1px, $tab)
      width 100%

    .modal__wrapper
      bottom 0
      border-radius vw(20) vw(20) 0 0
      padding-bottom vw(80)
      +min-max-w(1px, $tab)
        border-radius vwm(20) vwm(20) 0 0
        padding-bottom vwm(80)

    .modal__header
      position relative
      padding vw(25) vw(30)
      +min-max-w(1px, $tab)
        padding vwm(25) vwm(30)

      &:before
        content ''
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width vw(104)
        height vw(5)
        border-radius vw(10)
        background-color $dark-gray
        +min-max-w(1px, $tab)
          width vwm(104)
          height vwm(5)
          border-radius vwm(10)
      

    .modal__wrapper
      width 100%
      height max-content
  
  &__overflow
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background rgba(0, 0, 0, 0.6)
    display flex
    justify-content center
    align-items center
    transition opacity 0.3s ease-in-out
    z-index -1

  &__wrapper
    position fixed
    width 100%
    height 100%
    background-color $white

  &__close
    position relative
    width vw(16)
    height vw(16)
    border none
    padding 0
    margin 0
    background-color transparent
    cursor pointer
    z-index 2
    +min-max-w(1px, $tab)
      width vwm(16)
      height vwm(16)

    svg, img
      width 100%
      height 100%
      object-fit contain
      fill $main

  &__header
    display flex
    flex-direction column
    gap vw(20)
    margin-bottom vw(20)
    +min-max-w(1px, $tab)
      gap vwm(30)
      margin-bottom vwm(30)

  &__title
    font-weight 600
    font-size vw(32)
    color $main
    +min-max-w(1px, $tab)
      font-size vwm(24)

  &__desc
    font-weight 400
    font-size vw(20)
    line-height 150%
    color $main
    +min-max-w(1px, $tab)
      font-size vwm(16)

.modal[aria-hidden="false"] .modal__overflow
  animation fadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)

.modal[aria-hidden="true"] .modal__overflow
  animation fadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)

.modal.type-right[aria-hidden="false"] .modal__wrapper
  animation leftToRight 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)

.modal.type-right[aria-hidden="true"] .modal__wrapper
  animation rightToLeft 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)

.modal.type-top[aria-hidden="false"] .modal__wrapper
  animation topToBottom 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)
  
.modal.type-top[aria-hidden="true"] .modal__wrapper
  animation bottomToTop 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)

.modal.type-sheet[aria-hidden="false"] .modal__wrapper
  animation bottoSheetClose 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)
  
.modal.type-sheet[aria-hidden="true"] .modal__wrapper
  animation bottoSheetOpen 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995)


@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes fadeOut
  from
    opacity 1
  to
    opacity 0

@keyframes leftToRight
  from
    transform translateX(100%)
  to
    transform translateX(0)

@keyframes rightToLeft
  from
    transform translateX(0)
  to
    transform translateX(100%)

@keyframes bottomToTop
  from
    transform translateY(0)
  to
    transform translateY(-100%)

@keyframes topToBottom
  from
    transform translateY(-100%)
  to
    transform translateY(0)

@keyframes bottoSheetOpen
  from
    transform translateY(0)
  to
    transform translateY(100%)

@keyframes bottoSheetClose
  from
    transform translateY(100%)
  to
    transform translateY(0)