// Медиа запросы
// 
$desk = 1920px
$tab = 920px
$mob = 375px

// Цвет
// 
$main = #1f2650
$accent = #fd4344
$secondary = #e7ecf3
$dark-gray = #878787
$gray = #908f8f
$white = #fff

// Шрифты
// 
$font-family = "Inter", sans-serif
$second-family = "TT Hoves", sans-serif