html
  overflow-x hidden

*,
*::before,
*::after
  box-sizing border-box

a
  text-decoration none

.page
  margin-top vw(150)
  font-family $font-family
  font-size vw(16)
  font-weight 400
  overflow-y hidden
  +min-max-w(1px, $tab)
    margin-top vwm(86)
    font-size vwm(16)