html
  overflow-x hidden

*,
*::before,
*::after
  box-sizing border-box

a
  text-decoration none
  color $main
  transition color .3s ease-in-out

.page
  margin-top vw(150)
  font-family $font-family
  font-size vw(16)
  font-weight 400
  overflow-y hidden
  +min-max-w(1px, $tab)
    margin-top vwm(86)
    font-size vwm(16)

.std-section
  margin-bottom vw(68)
  +min-max-w(1px, $tab)
    margin-bottom vwm(50)