@import '~normalize.css';

@import './lib/micromodal.css';

@import './mixins/media.styl';
@import './mixins/flex-value.styl';

@import './theme/variables.styl';

.test
  font-size vw(50)
  +max-w($tab)
    font-size vwm(50)