.btn
  display flex
  align-items center
  gap vw(10)
  padding vw(15) vw(20)
  border-radius vw(100)
  border none
  cursor pointer
  text-decoration none
  +min-max-w(1px, $tab)
    gap vwm(10)
    padding vwm(16) vwm(22)
    border-radius vwm(100)
    width max-content

  span
    font-size vw(16)
    color $white
    +min-max-w(1px, $tab)
      font-size vwm(14)

  svg
    width vw(15)
    height vw(15)
    +min-max-w(1px, $tab)
      width vwm(15)
      height vwm(15)

  &--main
    background-color $main
    outline 1px solid $main
    outline-offset -1px

    span
      color $white

    svg
      fill $white

  &--main-alt
    background-color transparent
    outline 1px solid $main
    outline-offset -1px

    span
      color $main
  
  &--accent
    background-color $accent
    outline 1px solid $accent
    outline-offset -1px

    span
      color $white

  &--accent-alt
    background-color transparent
    outline 1px solid $accent
    outline-offset -1px

    span
      color $accent

  &--white
    background-color $white
    outline 1px solid $white
    outline-offset -1px

    span
      color $main