
// от десктопа к мобильному
// font-size vw(30)
// 
vw(size)
  value = (size * 100 / 1920) * 1vw
  value

// с мобильного к десктопу
// font-size vwm(30)
//
vwm(size)
  value = (size * 100 / 375) * 1vw
  value