// от десктопа к мобильному
vw(size)
  value = (size * 100 / 1920) * 1vw
  value

// от планшетного к мобильному
vwt(size)
  value = (size * 100 / 1024) * 1vw
  value

// с мобильного к десктопу
vwm(size)
  value = (size * 100 / 375) * 1vw
  value