.hero
  &__wrapper
    display flex
    flex-wrap wrap
    align-items stretch
    justify-content space-between
    gap vw(28)
    +min-max-w(1px, $tab)
      flex-direction column
      gap vwm(22)

  +min-max-w(1px, $tab)
    &__left
      order 1
    
    &__right
      order 3
    
    &__search
      order 2


@import 'hero.left.styl'
@import 'hero.right.styl'
@import 'hero.events.styl'
@import 'hero.payments.styl'
@import 'hero.search.styl'