.hero
  &__payments
    width 100%
    height vw(300)
    border-radius vw(10)
    background-color $main
    +min-max-w(1px, $tab)
      height auto
      border-radius vwm(10)

  &__payments-title
    display flex
    align-items center
    justify-content space-between
    gap vw(10)
    margin-bottom vw(22)
    +min-max-w(1px, $tab)
      gap vwm(10)
      margin-bottom vwm(22)
    
    &:hover
      span
        color $accent
        transition color .3s ease-in-out
        
      svg
        fill $accent
        transition fill .3s ease-in-out

    span
      font-weight 600
      font-size vw(32)
      color $white
      transition color .3s ease-in-out
      +min-max-w(1px, $tab)
        font-size vwm(20)

    svg
      display flex
      flex 0 0 auto
      width vw(20)
      height vw(20)
      fill $white
      transition fill .3s ease-in-out
      +min-max-w(1px, $tab)
        display none
        width vwm(20)
        height vwm(20)

  &__payments-desc.content
    color $white
    width vw(480)
    +min-w($tab + 1px)
      max-height vw(180)
    +min-max-w(1px, $tab)
      width 100%

    &.scroll-block 
      .simplebar-track.simplebar-vertical
        background-color $main
        .simplebar-scrollbar
            background-color #e4e9ef

  .btn
    +min-w($tab + 1px)
      display none
    +min-max-w(1px, $tab)
      margin-top vwm(30)
  
  &__payments-icon
    position absolute
    right vw(30)
    bottom vw(30)
    width vw(128)
    height vw(128)
    +min-max-w(1px, $tab)
      right vwm(18)
      bottom vwm(18)
      width vwm(100)
      height vwm(100)

    img
      width 100%
      height 100%
      object-fit contain