.hero
  &__right
    width vw(620)
    display flex
    flex-direction column
    gap vw(30)
    +min-max-w(1px, $tab)
      width 100%
      gap vwm(30)

  &__right-block
    position relative
    border-radius vw(10)
    padding vw(30)
    +min-max-w(1px, $tab)
      border-radius vwm(10)
      padding vwm(18)