mixin CardCompany(logo = '1.png', title = 'Организация')
  .card-company
    .card-company__logo
      img(data-src=`/assets/images/card-company/${logo}` src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=".." class="lazy")
    .card-company__title= title