.scroll-block 
  .simplebar-track.simplebar-vertical
    right vw(-6)
    width vw(4)
    background-color #e4e9ef
    border-radius vw(10)
    +min-max-w(1px, $tab)
      right vwm(-6)
      width vwm(4)
      border-radius vwm(10)
  
  .simplebar-scrollbar
    border-radius vw(10)
    background-color $main
    +min-max-w(1px, $tab)
      border-radius vwm(10)

  
  