.section-header
  display flex
  align-items center
  justify-content space-between
  gap vw(20)

  &__title
    font-weight 600
    font-size vw(32)
    color $main
    +min-max-w(1px, $tab)
      font-size vwm(24)
  